[submodule ".vim/pack/plugins/start/VimCompletesMe"]
	path = .vim/pack/plugins/start/VimCompletesMe
	url = git@github.com:ajh17/VimCompletesMe.git
[submodule ".vim/pack/plugins/start/DidYouMean"]
	path = .vim/pack/plugins/start/DidYouMean
	url = git@github.com:EinfachToll/DidYouMean.git
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = git@github.com:w0rp/ale.git
[submodule ".vim/pack/plugins/start/gundo.vim"]
	path = .vim/pack/plugins/start/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
