[submodule ".vim/pack/plugins/start/VimCompletesMe"]
	path = .vim/pack/plugins/start/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule ".vim/pack/plugins/start/DidYouMean"]
	path = .vim/pack/plugins/start/DidYouMean
	url = https://github.com/EinfachToll/DidYouMean.git
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/plugins/start/gundo.vim"]
	path = .vim/pack/plugins/start/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/ejs-syntax"]
	path = .vim/pack/plugins/start/ejs-syntax
	url = https://github.com/nikvdp/ejs-syntax.git
