[user]
	name = Fionn Fitzmaurice
	email = fionn@github.com
	signingkey = BE7149DD3EEA15D8CD5BD7F618E5CC1778377A29

[color]
	ui = auto
[url "https://aur.archlinux.org/"]
    insteadOf = aur:
[diff]
	algorithm = histogram
[color "diff"]
	whitespace = blue
[alias]
	ll = log --oneline --all --graph --decorate --color
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
