[submodule "vim/.vim/pack/plugins/start/VimCompletesMe"]
	path = vim/.vim/pack/plugins/start/VimCompletesMe
	url = https://git.sr.ht/~ackyshake/VimCompletesMe.vim
[submodule "vim/.vim/pack/plugins/start/ale"]
	path = vim/.vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/pack/plugins/start/vim-fugitive"]
	path = vim/.vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/plugins/start/undotree"]
	path = vim/.vim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/.vim/pack/plugins/start/vim-terraform"]
	path = vim/.vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/.vim/pack/plugins/start/vim-gitgutter"]
	path = vim/.vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/pack/plugins/start/tabular"]
	path = vim/.vim/pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/.vim/pack/plugins/start/vim-python-pep8-indent"]
	path = vim/.vim/pack/plugins/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "vim/.vim/pack/plugins/opt/grb256"]
	path = vim/.vim/pack/plugins/opt/grb256
	url = https://github.com/fionn/grb256.git
