[user]
    name = Fionn Fitzmaurice
    email = fionn@github.com
    signingkey = A0DFF3499910E46658E6E4FFCE043F62435B963B
[color]
    ui = auto
[url "https://aur.archlinux.org/"]
    insteadOf = aur:
[diff]
    algorithm = histogram
[color "diff"]
    whitespace = blue
    meta = normal normal dim
[alias]
    ll = log --oneline --graph --decorate --color
    rgrep = "! f(){ git grep $@ $(git rev-list --all); }; f"
    rrgrep = ! git rev-list --all | xargs git grep
    reset-file = checkout @ --
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[filter "spacify"]
    clean = expand --tabs=4 --initial
[filter "tabify"]
    clean = unexpand --tabs=4 --first-only
[transfer]
    fsckObjects = true
[pull]
    ff = only
